
.img-responsive {
  padding: 15px;
}

.navbar-right a {
    background-image: url("pics/GitHub-Mark-120px-plus.png");
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    padding-right: 50px !important;
}

#sidebar > h2 > a {
    max-width: 150px;
    display: inline-block;
    padding: 0;
}


#navbut  {
    float: right;
}

.navbar-nav {
  font-size: .9em !important;
}


td {
    text-align: center;
}
th {
   text-align: center;
    border-bottom: 2px solid black;
}



p.nullo {
    text-align: center;
}